<body>
  <app-navbar></app-navbar>
  <div class="container">
      <div class="box">
        <i class="fa fa-envelope"></i>
        <img src="/assets/images/logout.png" alt="Image ">
        <h4>Total Unit Used</h4>

        <label for="unitused">Unit Used:</label>
      <input type="number" id="unitused" name="unitused" [(ngModel)]="unitused" class="form-control" >
      </div>
      <div class="box">
        <i class="fa fa-phone"></i>
        <img src="/assets/images/logout.png" alt="Image ">
        <h4>Total Cost</h4>
        <p >{{cost| currency:'USD':'symbol':'1.2-2' }}</p>
      </div>
      <div class="box">
          <i class="fa fa-phone"></i>
                    <!-- will modify soon -->

          <img src="/assets/images/logout.png" alt="Image ">
          <h4>Deadline</h4>
          <p>{{deadline}}</p>
        </div>
    </div>

    <table class="my-table">
      <thead>
        <tr>
          <th>Month</th>
          <th>CostOfUnits</th>
          <th>CostofInternet</th>
          <th>Deadline</th>
          <th>FineTax</th>
          <th>Action </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Last Month</td>
          <td>{{ cost | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ InternetCost | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{fineTx}}</td>
          <td>{{ deadline }}</td>
          <td><button (click)="goToPayment()">Pay</button></td>
        </tr>

      </tbody>
    </table>
  </body>
