<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="collapse navbar-collapse d-flex" id="navbarNav">
    <button class="nav-link btn btn-outline-light mr-2" routerLink="/toAdminDashboard">Home</button>
    <button class="nav-link btn btn-outline-light mr-2" routerLink="/toAdminElectericity">Electricity</button>
    <button class="nav-link btn btn-outline-light mr-2" routerLink="/toAdminTelephone">Telephone</button>
    <button class="nav-link btn btn-outline-light" routerLink="/toAdminWater">Water</button>
    <button class="nav-button"><a type="submit" (click)="logout()" (click)="handlelogout()">Logout</a></button>

  </div>
</nav>
