.slideshow-container {
    position: relative;
    height: 500px;
    width: 70%;
    align-items: center;
    margin-left: 300px;
  }
  
  .slideshow-container img {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slideshow-container img.active {
    opacity: 1;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
  }
  
  .prev:hover,
  .next:hover {
    color: #ccc;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  