<div class="popup">
    <div class="popup-header">
      <h2 class="popup-title">Title: {{ selectedItem.title }}</h2>
      <button class="popup-close" (click)="onClose()">X</button>
    </div>
    <div class="popup-content">
      <h2 class="popup-description">{{ selectedItem.description }}</h2>
      <div class="popup-owner">{{ selectedItem.ownername }}</div>
      <div class="popup-status">{{ selectedItem.status }}</div>
      <div class="popup-firebase">{{ dataFromFirebase }}</div>
    </div>
  </div>