.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h3 {
    font-weight: bold;
    margin-top: 20px;
    border-bottom: none;
  }
  
  .form-group {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    color: darkgray;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color:rgb(5, 156, 5);
    color:black;
    text-decoration-style:solid;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: green;
  }
  .my-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; /* Center the table horizontally */
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 200px;
  }
  
  .my-table th,
  .my-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .my-table th {
  color: #fff;
    background-color: #04c26d;
  }
  
  
  .my-table td button {
    background-color: #04c26d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
  }
  tr:hover {
    background-color: #ddd;
  }
  