<app-admin-toolbar></app-admin-toolbar>
<h2>Items</h2>
<form (ngSubmit)="addItem(newItem,user.email ? user.email : '' )" *ngIf="(auth.userData | async) as user" >
  <label>Owner:{{ user.email }}</label>  
    <label>Title:</label>
    <input [(ngModel)]="newItem.title" name="title">
    <label>Description:</label>
    <input [(ngModel)]="newItem.description" name="description">
    <label>status:</label>
    <input [(ngModel)]="newItem.status" name="status">
    <label>Gb:</label>
    <input [(ngModel)]="newItem.gb" name="status">
    <label>Cost:</label>
    <input [(ngModel)]="newItem.cost" name="status">
    
    <button type="submit">Add</button>
  </form>
  <!-- <div>
    <button (click)="filterItems()">Filter by Email</button>
  </div>!-->
  <table class="my-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items$ | async">
        <td><input type="text" [(ngModel)]="item.payload.val().title"></td>
        <td><input type="text" [(ngModel)]="item.payload.val().description"></td>
        <td><input type="text" [(ngModel)]="item.payload.val().status"></td>
        <td><input type="text" [(ngModel)]="item.payload.val().gb">Gb</td>
        <td><input type="text" [(ngModel)]="item.payload.val().cost">$</td>  
        <td>
        <!--  <button (click)="updateItem(item.key, item.payload.val())">Update</button> -->
          <button (click)="deleteItem(item.key)">Delete</button>
          <button (click)="updateItem(item.key, item.payload.val())">Update</button>
        </td>

      </tr>
    </tbody>
  </table>
  
