.container {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-weight: bold;
  margin-top: 20px;
  border-bottom: none;
}

.form-group {
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: darkgray;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color:darkgreen;
  color:black;
  text-decoration-style:solid;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: green;
}
