<div class="form-container">
  <div class="form-header">Payment information</div>
  <form>
    <div class="form-input">
      <label for="name">Name:</label>
      <div class="name-info">
        <span>{{ user.firstName }}</span>
        <span>{{ user.lastName }}</span>
      </div>
    </div>
    <div class="form-input">
      <label for="email">Email:</label>
      <div class="email-info">
        <span>{{ user.email }}</span>
        <a href="mailto:{{ user.email }}">Send Email</a>
      </div>
    </div>
    <div class="form-input">
      <label for="creditCardNumber">CreditCardNumber:</label>
      <div class="credit-info">
        <span>{{ user.creditCardNumber  }}</span>
      </div>
    </div>
    
    <div class="form-input">
      <label for="title">Service Providor:</label>
      <span>{{ email  }}</span>

    </div>
    <div class="form-input">
      <label for="title">Item Name:</label>
      <span>{{ newinvoice.title  }}</span>

    </div>
    <div class="form-input">
      <label for="title">cost:</label>
      <span>{{ newinvoice.cost  }} $</span>

    </div>
    <button type="submit" (click)="addItem()">pay</button>

  </form>
</div>