<app-admin-toolbar></app-admin-toolbar>
<h2>Telephone Data</h2>
<div class="form-group">
  <label for="unitCost">Unit Cost:</label>
  <input type="number" id="unitCost" name="unitCost" [(ngModel)]="unitCost" class="form-control" (change)="onUnitCostChange()">
  <br>
  <label>filter : </label>
  <input type="text" id="search" [(ngModel)]="searchText" placeholder="search" >
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Units Used</th>
      <th>Cost of units</th>
      <th>Cost of Intrnet</th>
      <th>Deadline</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users|filter : searchText">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.telephoneUnitsUsed }}</td>
      <td>{{ billingService.calculateCost(unitCost, user.telephoneUnitsUsed) | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>{{user.InternetCost |currency :'USD':'symbol':'1.2-2'}}</td>
      <td>
        <ng-container *ngIf="user.PreOrpost; else actualDeadline">{{ 'pre' }}</ng-container>
        <ng-template #actualDeadline>
          <input placeholder="00/0/2023" type="date" [(ngModel)]="user.telephoneDeadline">
        </ng-template>
      </td>


    </tr>
  </tbody>
</table>
<div class="submitBtn">
  <button (click)="calculateCosts()">Save</button>
</div>
