<app-admin-toolbar></app-admin-toolbar>
<body>
  
   <div class="img"> <img class="image" src="/assets/images/u9.png" alt="Image">
   </div>
  <div class="container">
  <div class="box">
      <img src="/assets/images/elect.jpg" alt="Image ">
      <button routerLink="/toAdminElectericity">Electricity Invoice</button>
    </div>
    <div class="box">
      <img src="/assets/images/water.jpg" alt="Image ">
      <button routerLink="/toAdminWater">Water invoice</button>
      
    </div>
    <div class="box">
      <img src="/assets/images/s.jpg" alt="Image ">
      <button routerLink="/toAdminTelephone">Service providor</button>
    </div>
  </div>
</body>
