<body>
    <img class="image" src="/assets/images/u9.png" alt="Image">
  <div class="container">
  <div class="box">
      <img src="/assets/images/elect.jpg" alt="Image ">
      <button>Electricity Invoice</button>
    </div>
    <div class="box">
      <img src="/assets/images/water.jpg" alt="Image ">
      <button>Water invoice</button>
      
    </div>
    <div class="box">
      <img src="/assets/images/s.jpg" alt="Image ">
      <button>Service providor</button>
    </div>
  </div>
</body>