<div><app-navbar></app-navbar></div>
<app-slideshow></app-slideshow>



  
  <div class="tabs">
    <ul>
      <li [class.active]="activeTab === 'prepaid'" (click)="setActiveTab('prepaid')">Prepaid</li>
      <li [class.active]="activeTab === 'postpaid'" (click)="setActiveTab('postpaid')">Postpaid</li>
    </ul>
  </div>

  <div class="tab-content">
    <div *ngIf="activeTab === 'prepaid'">
      <div class="container">
        <div *ngFor="let item of prepaidItems" class="box">
            <img src="/assets/images/voda1.jpg" alt="Image ">
            <h2>{{ item.title }}</h2>
          <p>{{ item.description }}</p>
          <button (click)="goToPayment()">Pay</button>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab === 'postpaid'">
      <div class="container">
        <div *ngFor="let item of postpaidItems" class="box">
          <img src="/assets/images/voda1.jpg" alt="Image ">
          <h2>{{ item.title }}</h2>
          <p>{{ item.description }}</p>
          <button (click)="goToPayment()">Pay</button>
        </div>
      </div>
    </div>
  </div>